* {
    box-sizing: border-box;
    
    
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, #1d0bee, #005fff, #0086ff, #00a5f5, #1bbfe1);
    overflow: hidden;
    text-align: center;
}

h1 {
    font-weight: 100px;
    font-size: 100px;
    text-shadow: 5px 2px 2px white;
}

.mainPage {
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrapper {
    display: flex;
    border: 5px white solid;
    width: 1000px;
}

.playerName {
    font-size: 20px;
    margin-top: 10px;

}

.player-0{
    width: 350px;
}

.player-1 {
    width: 350px;
}


.player-0:hover {
    background: red;
}

.player-1:hover   { 
    background: yellow;
}

.playerScore_0, .playerScore_1 {
    margin-top: 150px;
}

.playerCurrent {
    justify-content: center;
    margin-top: 120px;
    background: white;
    height: 100px;;
    width: 150px;
    margin-left: 100px;

}

.DiceImg {
    padding-top: 55px;
}

button {
    color: black;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}


.diceImg {
        margin-top: 100px;
        margin-left: 70px;
        height: 160px;
        width: 160px;
        padding: 0;
        background-color: white;
        text-align: center;
        border: 5px black solid;
}

.menu {
    padding-top: 20px;
    background: hidden;
    border: none;
    width: 300px;
}

.play {
    padding-top: 80px;
}

.holdScore {
    padding-top: 15px;
}

.newGame, .holdScore, .rollDice {
    font-size: 25px;
}

.newGame:hover, .holdScore:hover, .rollDice:hover {
    transform: scale(1.3);
} 